/*area de ediçao do home*/
body {
    overflow-x: hidden;
    background-color: #fff8e1;
    background-image: linear-gradient(#ebe4ce 1px, transparent 1px);
    background-size: 100% 30px;
    background-repeat: repeat;
    position: relative;
    
}
header{
    background-color: #f897c5;
    padding: -10px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    overflow: visible;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:80px;
    padding-right: 30px;
}
.logo {
    height: 70px;
    width: auto;
    display: block;
    position: relative;
    z-index: 10;
    top: 0px;
}
nav a img {
    height: 140px;
    width: auto;
}
nav a img:hover {
    transform: scale(1.1);
}
.sobre-mim:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(224, 21, 140, 0.849));
}
.projetos:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(255, 223, 81, 0.938));
}
.habilidades:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(19, 185, 197, 0.918));
}
.contato:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(148, 18, 199, 0.849));
}  
.link-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(148, 18, 199, 0.849));
}
.caderno-home {
    position: absolute;
    pointer-events: none;
    width: 645px;
    height: auto;
    margin-left: -15px;
    
}
.titulo-home {
    position: absolute;
    pointer-events: none;
    width: 590px;
    margin-top: -30px;
    margin-left: 280px; 
    transform: rotate(6deg);
}
.saudação-home {
    position: absolute;
    pointer-events: none;
    width: 520px;
    margin-top: 180px;
    margin-left: 190px; 
    z-index: -1;
}
.perfil-home {
    position: absolute;
    width: 390px;
    margin-top: 120px;
    margin-left: 830px;
}
.perfil-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(62, 155, 241, 0.986)); 
}
.seta-home {
    position: absolute;
    pointer-events: none;
    width: 340px;
    margin-left: 570px;
    margin-top: -60px;
    transform: rotate(-10deg);
}
.traços-home {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-left: 1075px;
    margin-top: 15px;
    transform: rotate(-18deg);
}
.postit-1-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 1315px;
    margin-top: 8px;
}
.deco-direita-home {
    position: absolute;
    pointer-events: none;
    width: 400px;
    margin-left: 1093px;
    margin-top: 241px;
}
/*area de ediçao de sobre-mim*/
.fundo-1-home{
    position: absolute;
    pointer-events: none;
    width: 1501px;
    margin-top: 700px;
    margin-left:-8px;
}
.fita-cetim-home {
    position: absolute;
    pointer-events: none;
    width: 1501px;
    margin-top: -60px;
    margin-left:-8px;
}
.postit-2-home {
    position: absolute;
    pointer-events: none;
    width: 400px;
    margin-left: 940px;
    margin-top: 900px;
    z-index: 1;
}
.foto-2-home {
    position: absolute;
    pointer-events: none;
    width: 500px;
    margin-left: -20px;
    margin-top: 870px;
}
.container-carta {
    position: relative;
    width: 600px;
    height: 200px;
    cursor: pointer;
}
.carta {
    position: absolute;
    width: 600px;
    top: 780px;
    left:360px;
    transition: opacity 0.4s ease-in-out;
    z-index: 9998;
    transform: rotate(-10deg);
}
.carta-aberta {
    opacity: 0;
}
.carta-fechada {
    opacity: 1;
}
.container-carta:hover .carta-fechada {
    opacity: 0; 
}
.container-carta:hover .carta-aberta {
    opacity: 1; 
}
.link-ticket {
    position: absolute; 
    z-index: 999;
    width: 300px;
    margin-left: 310px;
    margin-top: 960px;
    display: inline-block;
}
.ticket-home {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}
.link-ticket:hover .ticket-home {
    transform: scale(1.08);
}
.sobre-mim-2-home {
    position: absolute;
    pointer-events: none;
    width: 300px;
    margin-left: -15px;
    margin-top: 480px;
}
/*area de ediçao de linha do tempo*/
.fundo-home {
    position: absolute;
    pointer-events: none;
    width: 1502px;
    margin-top: 1501px;
    margin-left:-8px;
}
.separador-home {
    position: absolute;
    pointer-events: none;
    width: 1502px;
    transform: rotate(90deg);
    margin-top: 810px;
    margin-left:-8px;
}
.caderno-2-home {
    position: absolute;
    pointer-events: none;
    width: 1300px;
    margin-top: 1630px;
    margin-left:90px;
    filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.25));
}
.fita-3-home {
    position: absolute;
    pointer-events: none;
    width: 1000px;
    margin-left: 240px;
    margin-top: 1395px;
}
.timeline-wrapper {
    position: absolute;
    width: 1400px;       
    height: 300px;      
    margin-top: 1780px; /*onde os cards ficam na vertical*/
    margin-left: 50px; /*mesmo ajuste mas na horizontal*/
    z-index: 100;
    overflow: hidden;
}
.timeline-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.timeline-container::-webkit-scrollbar {
    display: none;
}
.timeline-page {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 0 200px;
    
}
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    height: 100%;
}
.timeline-page img {
    position: static; 
    margin: 0;        
}
.seta-1 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-2 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-3 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-4 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-5 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-6 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-7 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-8 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-9 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.seta-10 {
    width: 110px;  
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.card-1-home {
    width: 300px;
    height: auto;
}
.card-1-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(186, 235, 147, 0.986)); 
}
.card-2-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-2-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(146, 237, 243, 0.986)); 
}
.card-3-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-3-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(221, 60, 127, 0.986)); 
}
.card-4-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-4-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(255, 222, 112, 0.986)); 
}
.card-5-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-5-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(145, 39, 194, 0.986)); 
}
.card-6-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-6-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(243, 139, 70, 0.986)); 
}
.card-7-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-7-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(221, 60, 127, 0.986)); 
}
.card-8-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-8-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(39, 219, 84, 0.986)); 
}
.card-9-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-9-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(50, 14, 151, 0.986)); 
}
.card-10-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-10-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(207, 39, 67, 0.986)); 
}
.card-11-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-11-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(222, 103, 238, 0.986)); 
}
.card-12-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-12-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(104, 202, 181, 0.986)); 
}
.card-13-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-13-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(141, 156, 52, 0.986)); 
}
.card-14-home {
    width: 300px; 
    height: auto;
}
.card-14-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(248, 106, 213, 0.986)); 
}
.card-15-home {
    width: 300px;
    height: auto;
}
.card-15-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(190, 156, 44, 0.986)); 
}
.card-16-home {
    width: 300px; /* Tamanho do Card 1 */
    height: auto;
}
.card-16-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(255, 226, 147, 0.986)); 
}
.botao-1-home {
    position: absolute;
    pointer-events: none;
    width: 100px;
    margin-left: 370px;
    margin-top: 1870px;
}
.botao-2-home {
    position: absolute;
    pointer-events: none;
    width: 100px;
    margin-left: 685px;
    margin-top: 1870px;
}
.botao-3-home {
    position: absolute;
    pointer-events: none;
    width: 100px;
    margin-left: 1010px;
    margin-top: 1870px;
}
/*area de ediçao de galeria*/
.fundo-3-home {
    position: absolute;
    pointer-events: none;
    width: 1501px;
    margin-top: 2102px;
    margin-left:-8px;
}
.moldura-1-home {
    position: absolute;
    width: 500px;
    margin-left: -70px;
    margin-top: 2168px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.25));
    transform-origin: top center; 
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1.2);
    z-index: 100;
}
.moldura-1-home:hover {
    transform: rotate(3deg) scale(1.02); 
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
    z-index: 999;
}
.moldura-2-home {
    position: absolute;
    width: 660px;
    margin-left: 190px;
    margin-top: 2168px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.25));
    transform-origin: top center; 
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1.2);
    z-index: 100;
}
.moldura-2-home:hover {
    transform: rotate(3deg) scale(1.02); 
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
    z-index: 999;
}
.moldura-3-home {
    position: absolute;
    width: 550px;
    margin-left: 640px;
    margin-top: 2167px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.25));
    transform-origin: top center; 
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1.2);
    z-index: 100;
}
.moldura-3-home:hover {
    transform: rotate(3deg) scale(1.02); 
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
    z-index: 999;
}
.moldura-4-home {
    position: absolute;
    width: 450px;
    margin-left: 1040px;
    margin-top: 2167px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.25));
    transform-origin: top center; 
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1.2);
    z-index: 100;
}
.moldura-4-home:hover {
    transform: rotate(3deg) scale(1.02); 
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
    z-index: 999;
}
.titulo-1-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 96px;
    margin-top: 2610px;
}
.titulo-2-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 428px;
    margin-top: 2770px;
}
.titulo-3-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 825px;
    margin-top: 2660px;
}
.titulo-4-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 1180px;
    margin-top: 2569px;
}
.separador-3-home {
    position: absolute;
    pointer-events: none;
    width: 1501px;
    margin-left: -8px;
    margin-top: 1387px;
    transform: rotate(90deg);
}
/*area de ediçao de habilidades*/
.retangulo {
  width: 1501px;           
  height: 900px;           
  background-color: #ffec98; 
  margin-left: -8px;
  margin-top: 2964px;
}
.caderno-habilidades-home {
  width: 1090px;  
  position: absolute;                
  margin-left: 190px;
  margin-top: -1000px;
  transform: rotate(90deg);
}
.habilidade-html-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 340px;
    margin-top: -700px ;
}
.habilidade-css-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 520px;
    margin-top: -700px;
}
.titulo-h-home {
    position: absolute;
    pointer-events: none;
    width: 500px;
    margin-left: 500px;
    margin-top: -910px ;
    z-index: 90;
}
.retangulo-2 {
    position: absolute;
    width: 1501px;           
    height: 70px;           
    background-color: #e798ff; 
    margin-left: -8px;
    margin-top: -903px;
}
.habilidade-git-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 340px;
    margin-top: -530px;
}
.habilidade-ux-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 520px;
    margin-top: -530px;
}
.habilidade-equipe-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 340px;
    margin-top: -360px;
}
.habilidade-comunicaçao-home {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: 520px;
    margin-top: -360px;
}
/*area de ediçao de footer*/
.rodape {
    width: 1502px;
    position: absolute;
    margin-top: -1180px;
    margin-left: -9px;
}
.logo-rodape {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: -20px;
    margin-top: -30px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-redes {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 200px;
    margin-top: -80px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-contato-rodape {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 630px;
    margin-top: -80px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-creditos {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 1090px;
    margin-top: -80px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.insta-copia {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 120px;
}
.linkedin-copia {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 180px;
}
.git-copia {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 238px;
}
.mail-copia {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 620px;
    margin-top: 120px;
}
.creditos {
    position: absolute;
    pointer-events: none;
    width: 570px;
    margin-left: 990px;
    margin-top: -260px;
}
.instagram-1 {
    position: absolute;
    pointer-events: none;
    width: 190px;
    margin-left: 245px;
    margin-top: 45px;
}
.git-1 {
    position: absolute;
    pointer-events: none;
    width: 230px;
    margin-left: 250px;
    margin-top: 50px;
}
.linkedin-1 {
    position: absolute;
    pointer-events: none;
    width: 230px;
    margin-left: 252px;
    margin-top: -11px;
}
.email-1 {
    position: absolute;
    pointer-events: none;
    width: 280px;
    margin-left: 660px;
    margin-top: -120px;
}
.ano-rodape {
    position: absolute;
    pointer-events: none;
    width: 280px;
    margin-left: 20px;
    margin-top: 40px;
}
/*pagina sobre mim*/
.foto-4 {
    position: absolute;
    pointer-events: none;
    width: 470px;
    margin-left: 1030px;
    margin-top: -3000px;
}
.fundo-sobre-mim {
    position: absolute;
    pointer-events: none;
    width: 1503px;
    margin-top: 8px;
    margin-left: -8px;
    z-index: -9999;
}
.fundo-sobre-mim-2 {
    position: absolute;
    pointer-events: none;
    width: 1503px;
    margin-top: 50px;
    margin-left: -8px;
    z-index: -9999;
}
.retangulo-3 {
    width: 1000px;           
    height: 1015px;           
    background-color: #fffcf0; 
    margin-left: 240px ;
    margin-top: 100px;
    position: absolute;
    background-image: linear-gradient(#ebe4ce 1px, transparent 1px);
    background-size: 100% 35px;
    background-repeat: repeat;

}
.texto-sobre-mim {    
    padding-top: 460px;       
    padding-bottom: 30px;
    padding-left: 270px;      
    padding-right: 268px; 
    position: absolute;
    box-sizing: border-box;   
}   
.texto-sobre-mim p {
    font-family: 'Gaegu', cursive; 
    font-size: 16px;  
    font-weight: 550;        
    color: #333333; 
    position: relative;       
    line-height: 35px;       
    margin: 0 0 30px 0;
}
.moldura-sobre-mim {
    position: absolute;
    pointer-events: none;
    width: 470px;
    margin-left: 150px;
    margin-top: 67px;
}
.argolas {
    position: absolute;
    pointer-events: none;
    width: 1110px;
    margin-left: 185px;
    margin-top: -487px;
}
.ficha {    
    padding-top: 193px;       
    padding-bottom: 36px;
    padding-left: 510px;      
    padding-right: 268px; 
    position: absolute;
    box-sizing: border-box;   
}   
.ficha p {
    font-family: 'Gaegu', cursive; 
    font-size: 16px;  
    font-weight: 550;        
    color: #333333; 
    position: relative;       
    line-height: 6px;       
    margin: 0 0 30px 0;
}
.rodape-sobre-1 {
    width: 1505px;
    position: absolute;
    margin-top: 80px;
    margin-left: -10px;
    
}
.logo-sobre {
    position: absolute;
    pointer-events: none;
    width: 170px;
    margin-left: -20px;
    margin-top: 1240px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-redes-sobre {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 1080px;
    margin-top: 1169px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-contato-sobre {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 630px;
    margin-top: 1168px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.titulo-creditos-sobre {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-left: 210px;
    margin-top: 1170px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.insta-icone {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 1360px;
}
.linkedin-icone {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 1506px;
}
.git-icone {
    position: absolute;
    pointer-events: none;
    width: 40px;
    margin-left: 205px;
    margin-top: 1430px;
}
.mail-icone {
    position: absolute;
    pointer-events: none;
    width: 45px;
    margin-left: 620px;
    margin-top: 1360px;
}
.creditos-sobre {
    position: absolute;
    pointer-events: none;
    width: 570px;
    margin-left: 990px;
    margin-top: 990px;
}
.instagram-1-sobre {
    position: absolute;
    pointer-events: none;
    width: 190px;
    margin-left: 245px;
    margin-top: 1210px;
}
.git-1-sobre {
    position: absolute;
    pointer-events: none;
    width: 230px;
    margin-left: 250px;
    margin-top: 1245px;
}
.linkedin-1-sobre {
    position: absolute;
    pointer-events: none;
    width: 230px;
    margin-left: 252px;
    margin-top: 1316px;
}
.email-1-sobre {
    position: absolute;
    pointer-events: none;
    width: 280px;
    margin-left: 670px;
    margin-top: 1125px;
}
.ano-rodape-sobre {
    position: absolute;
    pointer-events: none;
    width: 280px;
    margin-left: 20px;
    margin-top: 1300px;
}
.gem-1 {
    position: absolute;
    pointer-events: none;
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-2 {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-top: 300px;
    margin-left: -10px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    transform: rotate(-5deg);
}
.gem-3 {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-top: 450px;
    margin-left: 130px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    z-index: -9;
}
.gem-4 {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-top: 600px;
    margin-left: 10px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-5 {
    position: absolute;
    pointer-events: none;
    width: 130px;
    margin-top: 140px;
    margin-left: 900px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    transform: rotate(-10deg);
}
.gem-6 {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-top: 170px;
    margin-left: 1145px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    transform: rotate(10deg);
}
.gem-7 {
    position: absolute;
    pointer-events: none;
    width: 190px;
    margin-top: 50px;
    margin-left: 1275px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-8 {
    position: absolute;
    pointer-events: none;
    width: 140px;
    margin-top: 260px;
    margin-left: 1380px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-9 {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-top: 420px;
    margin-left: 1275px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-10 {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-top: 1000px;
    margin-left: 120px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    transform: rotate(30deg);
}
.gem-11 {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-top: 800px;
    margin-left: -100px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-12 {
    position: absolute;
    pointer-events: none;
    width: 160px;
    margin-top: 720px;
    margin-left: 1170px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
}
.gem-13 {
    position: absolute;
    pointer-events: none;
    width: 240px;
    margin-top: 900px;
    margin-left: 1265px;
    filter: drop-shadow(6px 3px 2px rgba(0, 0, 0, 0.219));
    transform: rotate(-30deg);
}


