body {
    overflow-x: hidden;
    background-color: #fff8e1;
    background-image: linear-gradient(#ebe4ce 1px, transparent 1px);
    background-size: 100% 30px;
    background-repeat: repeat;
    position: relative;
    
}
header{
    background-color: #f897c5;
    padding: -10px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    overflow: visible;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:80px;
    padding-right: 30px;
}
.logo {
    height: 70px;
    width: auto;
    display: block;
    position: relative;
    z-index: 10;
    top: 0px;
}
nav a img {
    height: 140px;
    width: auto;
}
nav a img:hover {
    transform: scale(1.1);
}
.sobre-mim:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(224, 21, 140, 0.849));
}
.projetos:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(255, 223, 81, 0.938));
}
.habilidades:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(19, 185, 197, 0.918));
}
.contato:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(148, 18, 199, 0.849));
}
.link-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px rgba(148, 18, 199, 0.849));
}
.caderno-home {
    position: absolute;
    pointer-events: none;
    width: 580px;
    height: auto;
    margin-left: -15px;
    
}
.titulo-home {
    position: absolute;
    pointer-events: none;
    width: 590px;
    margin-top: -70px;
    margin-left: 230px; 
    transform: rotate(6deg);
}
.saudação-home {
    position: absolute;
    pointer-events: none;
    width: 520px;
    margin-top: 155px;
    margin-left: 160px; 
    z-index: -1;
}
.perfil-home {
    position: absolute;
    pointer-events: none;
    width: 360px;
    margin-top: 90px;
    margin-left: 830px;
}
.perfil-home:hover {
    transform: scale(1.1);
    filter: drop-shadow(15px 4px 0px rgba(62, 155, 241, 0.986));
}
.seta-home {
    position: absolute;
    pointer-events: none;
    width: 300px;
    margin-left: 600px;
    margin-top: -60px;
    transform: rotate(-10deg);
}
.traços-home {
    position: absolute;
    pointer-events: none;
    width: 140px;
    margin-left: 1070px;
    margin-top: -2px;
    transform: rotate(-18deg);
}
.postit-1-home {
    position: absolute;
    pointer-events: none;
    width: 180px;
    margin-left: 1190px;
    margin-top: 8px;
}
.deco-direita-home {
    position: absolute;
    pointer-events: none;
    width: 340px;
    margin-left: 1003px;
    margin-top: 230px;
}
.fundo-home {
    position: absolute;
    pointer-events: none;
    width: 1351px;
    margin-top: 571px;
    margin-left:-8px;
}
.separador-home {
    position: absolute;
    pointer-events: none;
    width: 1351px;
    transform: rotate(90deg);
    margin-top: -48px;
    margin-left:-8px;
}
.caderno-2-home {
    position: absolute;
    pointer-events: none;
    width: 1300px;
    margin-top: 670px;
    margin-left:18px;
    filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.25));
}
.card-1-projeto-home {
    position: absolute;
    pointer-events: none;
    width: 380px;
    margin-top: 820px;
    margin-left: 100px;
}
.card-2-projeto-home {
    position: absolute;
    pointer-events: none;
    width: 380px;
    margin-top: 820px;
    margin-left: 475px;
}
.card-3-projeto-home {
    position: absolute;
    pointer-events: none;
    width: 380px;
    margin-top: 820px;
    margin-left: 850px;
}

